<header class="container">
    <nav class="navbar">
        <div class="navbar-brand">
            <!--
                Un enlace solo puede contener como valor texto en su etiqueta
                debido a que esto afecto los lectores de pantalla para personas
                con discapacidad siendo penalizado por los diferentes buscadores.
                Para evitar este inconveniente se simula un envoltorio compuesto
                por un enlace que visualmente el usuario interprete que puede
                presionar la imagen.
            -->
            <a [routerLink]="['/']" title="DEV-ECON">DEV-ECON</a>
            <img src="/assets/svgs/Union 1.svg" alt="DEV-ECON" />
        </div>

        <ul class="navbar-nav">
            <li class="nav-item" *ngFor="let option of menu">
                <a class="nav-link" [routerLink]="[option.link]" [title]="option.name">{{option.name}}</a>
            </li>
        </ul>
    </nav>
</header>