// Custom
@import "../../themes/variables.scss";

:host {
  display: block;
  background: $header-background-color 0% 0% no-repeat padding-box;

  header {
    nav {
      padding: 34.5px 0px 34.5px 0px !important;

      .navbar-brand {
        position: relative;
        display: block;
        margin: 0px;
        padding: 0px;
        text-align: center;

        a {
          position: absolute;
          top: 0px;
          left: 0px;
          display: inline-block;
          z-index: 1;
          width: 100%;
          height: 100%;
          opacity: 0;
        }

        img {
          height: 45px;
        }
      }

      ul.navbar-nav {
        display: block;
        list-style: none;
        padding: 0px;
        margin: 0px;

        li {
          display: block;
          text-align: center;
          font: DemiBold 20px/24px TT Supermolot Neue;
          margin: 0px 30px 0px 30px;
        }
      }
    }
  }

  @media (min-width: 768px) {
    header {
      nav {
        .navbar-brand {
          display: inline-block;
          text-align: left;
        }

        ul {
          float: right;

          &.navbar-nav {
            display: inline-block;
            // margin-top: 30px;

            li {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}
