<footer>
    <div>
        <!--
            Un enlace solo puede contener como valor texto en su etiqueta
            debido a que esto afecto los lectores de pantalla para personas
            con discapacidad siendo penalizado por los diferentes buscadores.
            Para evitar este inconveniente se simula un envoltorio compuesto
            por un enlace que visualmente el usuario interprete que puede
            presionar la imagen.
        -->
        <a [routerLink]="['/']" title="DEV-ECON">DEV-ECON</a>
        <img src="/assets/svgs/Union 1.svg" alt="DEV-ECON" />
        <!-- <img src="assets/images/Union 1.svg" alt="DEV-ECON"> -->
    </div>
</footer>