// Custom
@import "../../themes/variables.scss";

:host {
  display: block;
  background: $footer-background-color 0% 0% no-repeat padding-box;
  padding: 34.5px 0px 34.5px 0px !important;
  text-align: center;

  footer {
    display: block;

    div {
      position: relative;
      display: inline-block;

      a {
        position: absolute;
        display: inline-block;
        z-index: 1;
        width: 100%;
        height: 100%;
        opacity: 0;
      }

      img {
        height: 45px;
      }
    }
  }
}
