<ng-template #loading>
    <div class="loading">Loading superhero...</div>
</ng-template>

<div class="row">
    <div class="col-6 col-md-3" *ngFor="let superHero of superHeroes; index as index; ">
        <div class="card">

            <figure class="card-img-top">
                    <img src="" alt="">
                <figcaption>{{superHero.name}}</figcaption>
            </figure>

            <div class="card-body">
                <ul>
                    <li>Intelligence: <strong>{{superHero.intellgence}}</strong></li>
                    <li>Speed: <strong>{{superHero.speed}}</strong></li>
                    <li>Power: <strong>{{superHero.power}}</strong></li>
                    <li>Gender: <strong>{{superHero.gender}}</strong></li>
                    <li>Race: <strong>{{superHero.race}}</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>