// Custom
@import "../../../themes/mixins.scss";
@import "../../../themes/variables.scss";

:host {
  display: block;
  margin: 60px 0px 30px 0px;

  @include loading;

  .card {
    position: relative;
    padding: 0px;
    margin-bottom: 30px;
    margin-top: -10px;
    height: 300px;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #707070;
    border-radius: 0.25rem;

    a {
      position: absolute;
      top: -20%;
      left: 0px;
      padding-top: -150px;
      display: inline-block;
      padding-top: -150px;
      z-index: 1;
      width: 100%;
      height: 100%;
      opacity: 0;
    }

    figure {
      margin: 0px;
      background-color: #f8f8f8;
      min-height: 0px;

      img {
        min-height: 300px;
        max-width: 100%;
        height: auto;
      }

      figcaption {
        background-color: #fff;
        padding: 1px 10px 0px 10px;
        position: absolute;
        text-align: center;
        left: 50px;
        top: 120px;
        color: #0044a6;
        font: DemiBold 26px/31px TT Supermolot Neue;
      }
    }

    .card-body {
      padding: 10px;

      ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
      }
    }
  }
}
