@import "../../../themes/variables.scss";

:host {
    display: block;

    input {
        width: 100%;
        padding: 12px 8px 13px 35px;
        background: #ffffff url() 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px $input-shadow-color;
        border: 1px solid $input-border-color;
        border-radius: 5px;
        background-image: url("/assets/svgs/noun_Zoom_1446108.svg");
        background-repeat: no-repeat;
        background-position: right 36px center;
    }
}
